* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    padding: 17px 0;
}

.menu__logo {
    text-decoration: none;
    font: 26px/26px Lora, sans-serif;
    color: rgb(46, 46, 46);
}

.menu__logo_accent {
    font: 26px Lora, sans_serif;
    color: rgba(255, 255, 255, 1);

}

.menu__list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.menu__list-item {
    padding: 10px 20px;
}

.menu__link {
    text-decoration: none;
    font: 12px/20px Oxygen, sans-serif;
    color: rgb(46, 46, 46);
    letter-spacing: 0.6;
    /* margin: 10px 20px; */
}

.menu__link_accent {
    font: 11px/26px Oxygen, sans-serif;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.6);

}

.main {
    margin-top: 89px;
}

.main__block {
    padding: 0 0 75px 0;
    margin-bottom: 38px;
}

.main__title {
    font: 50px/51px Lora, sans-serif;
    letter-spacing: 2px;
    color: rgba(46, 46, 46, 1);
    text-align: center;
    margin-bottom: 20px;
}

.main__subtitle {
    font: 17px/20px Oxygen, sans-serif;
    color: rgba(46, 46, 46, 0.63);
    text-align: center;
}

.main__img {
    width: 100%;
}

.main__contenet_wrapper {
    margin: 0;
    padding: 140px 0 135px;
    background: rgba(247, 247, 247, 1);

}

.main__text {
    font: 24px/35px Oxygen, sans-serif;
    color: rgb(16, 19, 21);
    margin-top: 20px;
}

.footer {
    background-image: url("./img/back_footer.png");
    background-size: cover;
}